        .password-form {
            margin-top: 15vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }

        .input-wrapper {
            position: relative;
            width: 200px;

        }

        .input-wrapper input {
            min-width: 120px;
            padding: 10px;
            margin-bottom: 24px;
        }

        .input-wrapper i {
            position: absolute;
            right: 25px;
            top: 30px;
            color: grey;
        }

        .btn {
            margin-top: 30px;
            width: 150px;
            text-align: left;
        }
        .error {
            opacity: 0;
            color: red;
        }