.page {
    .form-block {
        padding: 16px;
        border: 2px solid #4f595c;
        border-radius: 4px;
        box-sizing: border-box;
        width: 1200px;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 40px;

        &:not(:last-child) {
            margin-bottom: 32px;
        }

        legend {
            font-size: 30px;
            float: none;
            width: auto;
            text-align: left;
        }

        .form-item {
            display: block;
            width: 100%;
        }

        .form-label {
            text-align: left;
        }
    }
}
.submit-button{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.form-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}