p{
     box-sizing: border-box;
}

.active {
     background-color: black;
}
.not_active {
     background-color: white;
}
.div {
     height: 30px;
     width: 30px;
     border: 1px solid black;
     box-sizing: border-box;
}