.products-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    gap: 30px;
    justify-content: center;
    justify-items: center;
    padding: 30px;
}
.product-description {
    text-align: left;
    position: relative;
    .name{
        text-align: center;
        font-weight: 500;
    }
    .product-color{
        padding-bottom: 5px;
        padding-left: 15px;
    }
    .product_price{
        font-weight: 500;
    }
        .name-article{
            display: flex;
            justify-content: space-between;
            padding: 10px 15px;
        }
    }
   .heart_icon{
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 20px;
   }
.active-heart {
    fill: red;
    stroke: red;
}