.favorites-wrapper {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
    .title {
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        padding-bottom: 20px;
    }
}
.favorite-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .favorite-item-img{
        height: 99px;
        width: 66px;
        img {
            width: 100%;
        }
    }
    .info{
        min-width: 200px;
    }
}