.products-wrapper-table {
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    gap: 30px;
    justify-content: center;
    justify-items: center;
    padding: 30px;
    width: 1200px;
    margin: 0 auto;
        .product-description {
            text-align: left;
            position: relative;
            .name{
                text-align: center;
                font-weight: 500;
            }
            .product-color{
                padding-bottom: 5px;
                padding-left: 15px;
            }
            .product_price{
                font-weight: 500;
            }
                .name-article{
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 15px;
                }
            }
            .heart_icon{
             cursor: pointer;
             position: absolute;
             bottom: 10px;
             right: 20px;
            }
}
.products-wrapper-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 1200px;
    margin: 0 auto;
    .card-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .product-description {
            text-align: left;
            position: relative;
            .name{
                text-align: center;
                font-weight: 500;
            }
            .product-color{
                padding-bottom: 5px;
                padding-left: 15px;
            }
            .product_price{
                font-weight: 500;
            }
                .name-article{
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 15px;
                }
            }
            .heart_icon{
             cursor: pointer;
             position: absolute;
             bottom: 10px;
             right: 20px;
            }
    .product-description {
            text-align: left;
            position: relative;
    
            .name {
                text-align: center;
                font-weight: 500;
            }
    
            .product-color {
                padding-bottom: 5px;
                padding-left: 15px;
            }
    
            .product_price {
                font-weight: 500;
            }
    
            .name-article {
                display: flex;
                justify-content: space-between;
                padding: 10px 15px;
            }
        }
    
        .heart_icon {
            cursor: pointer;
            position: absolute;
            bottom: 10px;
            right: 20px;
        }
}
.active-heart {
    fill: red;
    stroke: red;
}
.table-list-button {
    padding-right: 30px;
    text-align: right;
}