body {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}
.conteiner {
    width: 1366px;
    margin: 0 auto;
    background: url(../img/background\ 1\ \(1\).png) no-repeat;
    background-size: cover;
}
.header {
   padding-top: 46px;
   padding-left: 160px; 
   padding-right: 177px;
   display: flex;
   justify-content: space-between;

}
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.contact_item {
    transition: 0.5s;
}
.contact_item:hover {
    color: #F26522;
}
.logo_img {
    position: relative;
}
.logo_img_colored {
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.logo_link:hover .logo_img_colored {
    opacity: 1;

}
.logo_link {
    display: flex;
    align-items: end;
    gap: 8px;
    text-transform: uppercase;
}
.logo_milan {
    font-weight: 700;
    font-size: 29px;
    line-height: 20px;
    transition: 0.5s;
}
.logo_link:hover .logo_milan {
    color: #F26522;    
}
.logo_holidays {
    font-weight: 700;
    font-size: 18px;
    line-height: 12px;
}
.main {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    column-gap: 62px;
    row-gap: 17px;
    padding: 17px 177px 50px 160px;
}
.main_grid_itm {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    line-height: 12px;

}
.grid_img {
    position: relative;
    overflow: hidden;

}
.colored_rectangle{
    color: #FFFFFF;
    background-color: #F26522;
    position: absolute;
    bottom: -55px;
    width: 100%;
    height: 55px;  
    transition: 0.2s;

}
.main_grid_itm:hover .colored_rectangle {
    bottom: 0;
}
.grid_text {
    transition: 0.5s;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.main_grid_itm:hover .grid_text {
    color: #F26522;
}
.colored_rectangle p:nth-child(1) {
    font-size: 10px;
    line-height: 10px;
    padding-top: 7px;
    padding-left: 16px;
    padding-bottom: 8px;

}
.colored_rectangle span:nth-child(2) {
    font-size: 20px;
    line-height: 20px;
    padding-left: 16px;
    padding-right: 128px;

}
.colored_rectangle a:nth-child(3) {
    font-size: 14px;
    line-height: 14px;
    position: relative;


}
.details::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 94px;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    height: 7px;
    width: 7px;
    rotate: 151grad; 
 }
.img {
    display: block;
    border: 3px solid;
    border-width: 3px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #000, #fff);
}
.footer {
    text-align: center; 
    padding: 0 530px 15px 530px;
    font-size: 12px;
    line-height: 12px;
}