
body {
    background-color: rgba(0, 0, 0, 0.349);
}
.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 5px;
}

.wrapper {
    max-width: 500px;
    border: 2px solid black;
    padding: 20px;
    background-color: rgba(255, 228, 196, 0.796);
}