.bought-wrapper {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .title {
            font-size: 24px;
            font-weight: 500;
            text-align: center;
            padding-bottom: 20px;
        }
    .summ {
        font-weight: 500;
        letter-spacing: 1.5px;
        text-align: end;
        padding-right: 300px;
    }
}
.bought-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .bought-item-img{
        height: 99px;
        width: 66px;
        img {
            width: 100%;
        }
    }
    .buttons-wrap{
        display: flex;
        align-items: center;
        gap: 50px;
    }
}
.active-heart {
    fill: red;
    stroke: red;
}
.heart_icon_bas {
    cursor: pointer;
}
.close {
    cursor:pointer;
}
.order-button {
    margin: 0 auto;
    margin-top: 50px;
}
.counter-wrapper {
    display: flex;
    gap: 15px;
}