.footer {
    background-color: #3C4242;
    padding-top: 60px;
}
.footer-menu{
    display: flex;
    justify-content: space-between;
    color: #F6F6F6;
    text-align: left;
    .footer-title{
        font-size: 28.579px;
        font-weight: 700;
        line-height: 216.9%;
    }
    .footer-list{
        font-size: 18px;
        font-weight: 300;
        line-height: 216.9%
    }
}
.socialnet-wrapper {
    padding-top: 77px;
    display: flex;
    gap: 10px;
}
.copyright{
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 200%;
    padding-top: 33px;
    padding-bottom: 60px;
}