body {
    background-color: #000;
    background-image: url(../img/parallax-bg.jpeg);
    background-attachment: fixed;  
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: 'Gilam', sans-serif;    
}
.conteiner {
    width: 1460px;
    margin: 0 auto;
}
.header {
    margin-top: 37px;
    margin-bottom: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E4B564;
}
.contact_us {
    border: solid 1px #E4B564;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Circe', sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;    
}

.first_info {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-top: 41px;           
}
.heating {
    margin-top: 40px;
    margin-bottom: 161px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    column-gap: 34px;
    row-gap: 27px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
.heating_first {
    grid-area: 1 / 1 / 2 / 3;
    background-color: #634F2C;
    
}
.heating_second {
    grid-area: 1 / 3 / 2 / 5;
    background-color: #B4A385;
}
.heating_third {
    grid-area: 1 / 5 / 2 / 7;
    background-color: #E4B564;
}
.heating_fourth {
    grid-area: 2 / 1 / 3 / 4;
    background-color: #635A4A;
}
.heating_fifth {
    grid-area: 2 / 4 / 3 / 7;
    background-color: #B08C4D;
}
.heating_text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tech_park {
    margin-top: 94px;
    font-size: 20px;
    line-height: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 34fr 7fr 18fr 15fr 32fr;
    height: 873px;
    column-gap: 30px;
    row-gap: 24px;
    grid-template-areas: 
    "i1 i2 i3"
    "i1 i2 i6"
    "i4 i2 i6"
    "i4 i5 i6"
    "i4 i5 i7";
}
.tech_park_first {
    grid-area: i1;
    background-color: #0E0E0E;
}
.tech_park_second {
    grid-area: i2;
    background-color: #242424;
}
.tech_park_third {
    grid-area: i3;
    background-color: #1F1F1F;
}
.tech_park_fourth {
    grid-area: i4;
    background-color: #1F1F1F;
}
.tech_park_fifth {
    grid-area: i5;
    background-color: #E4B564;
    align-self: start;
    padding-bottom: 280px;
    color: #000;
}
.tech_park_sixth {
    grid-area: i6;
    background-color: #0E0E0E;
}
.tech_park_seventh {
    grid-area: i7;
    background-color: #0A0909;
}
.tech_park_text {
    padding-top: 44px;
    padding-left: 50px;
}

.clients_projects_top {
    margin-top: 363px;    
    margin-bottom: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button_all_projects {
    font-family: 'Circe', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    border: solid 1px #E4B564;
    padding: 10px 40px;
    
}
.projects {
    margin-bottom: 238px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    height: 782px;
    grid-template-areas: 
    "i1 i2 i3"
    "i4 i5 i6";
}
.project_item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.project_item_first {
    grid-area: i1;
    background-color: #634F2C;
}
.project_item_second {
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-area: i2;
    background-color: rgba(232, 210, 171, 0.76);
}
.project_item_second_text {
    padding-top: 16px;
}
.project_item_third {
    grid-area: i3;
    background-color: #E4B564;
}
.project_item_fourth {
    grid-area: i4;
    background-color: #635A4A;
}
.project_item_fifth {
    grid-area: i5;
    background-color: #B08C4D;
}
.project_item_sixth {
    grid-area: i6;
    background-color: #634F2C;
}
