p{
     width: 800px;
          height: 800px;
          border: 1px solid black ;
          display: flex;
          flex-direction: row-reverse;
          box-sizing: border-box;
          
}


body {
     display: flex;
}
.closed {
     background-color: rgb(201, 197, 197);
     border: 1px solid rgb(126, 126, 126);
     box-sizing: border-box;
}

.colors{
     height: 25px;
     width: 25px;
}