.bought-wrapper {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .title {
            font-size: 24px;
            font-weight: 500;
            text-align: center;
            padding-bottom: 20px;
        }
}
.bought-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .bought-item-img{
        height: 99px;
        width: 66px;
        img {
            width: 100%;
        }
    }
    .buttons-wrap{
        display: flex;
        align-items: center;
        gap: 15px;
    }
}
.active-heart {
    fill: red;
    stroke: red;
}
.heart_icon_bas {
    cursor: pointer;
}