/* .button_box {
     height: 50vw;
     display: flex;
     justify-content: center;
     align-items: center;
     
    
} */

.button {
     padding: 30px 70px;
     background-color: #99f9ba;
     font-size: 30px;
     color: #616161;
     border-radius: 10px;
     transition: 0.5s;
}

.button:hover {
     background-color: #30ff79;
}

#container1 div {
     background-color: lightgreen;
     margin: 0 auto;
}