
.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.621);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 560px;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 4px;

    
    .modal-header {
        color: #191919;
        margin-bottom: 24px;
        font-size: 32px;
        font-weight: 400;
        width: 100%;


    }
    .modal-body {
        color: #7F7F7F;
        font-size: 16px;
        font-weight: 500;
    }
    
    .modal-footer {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}