.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    .img{
        padding: 30px;
    }
    .error_info{
        h2 {
            font-size: 24px;
            font-weight: 300;
        }
        .buttons {
            padding: 10px;
            display: flex;
            gap: 20px;
        }
    }
}