




.input_wrapper {
     margin-top: 15vw;
     display: flex;
  
     justify-content: center;
     flex-direction: row;
     gap: 20px;


}
.price {
     font-weight: 600;
}
.error {
     opacity: 0;
     text-align: center;

}