        .image-to-show {
            width: 400px;
            height: 400px;
          
        }

        .images-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        
        }
        .image-to-show {
            display: none;    
        }
        .active {
            display: block;
        }
.start, .pause, .finish{
    padding: 7px 20px;
    background-color: rgb(247, 218, 182);
    border-radius: 5px;
}

.button-wrapper {
    margin-top: 20px;
    width: 400px;
    display: flex;
    justify-content: space-around;
}
button:disabled {
    color: grey;
    background-color: rgb(255, 239, 227);
}