.header{
    background-color: black;

}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 15px;

}
.nav-menu-item {
    color: white;
    font-size: 22px;
    font-weight: 500;
    transition: 0.5s;
    &:hover {
        color: #B78B1F;
    }
}
.nav-menu {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    li:nth-child(3) a {
        color: #B78B1F;
    }
}
.custumer-icons{
    display: flex;
    gap: 20px;
}
.heart-icon, .shopping-icon {
    padding: 12px;
    background-color: #F6F6F6;
    border-radius: 8px;
}
.heart-icon{
    display: flex;
    gap: 5px;
    align-items: center;
}