.button{
    font-size: 11px;
    padding: 10px;
    border-radius: 8px;
    min-width: 225px;
    font-weight: 500;
    cursor: pointer;
    justify-self: start;
    line-height: 14px;
    letter-spacing: 1.2px;
}
._purple{
    color: white;
    background-color: #1a6461;
    text-transform: uppercase;
}
._white{
    color: #3C4242;
    background-color: white;
}
