body {
    font-family: 'Roboto', sans-serif;    
}
.conteiner {
    width: 1280px;
    margin: 0 auto;
}
.header {
    margin-top: 63px;    
}
.logo {
    
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;


}
.colored_logo {
    color: #4BCAFF;    
}
.navigation {
    display: flex;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 18px;
    background-color: #35444F;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 40px;
}
.nav_link_first {
    padding-right: 32px;
    padding-left: 32px;
    border-left: solid 1px #FFFFFF;
}
.nav_link_second {
    padding-right: 36px;
    padding-left: 36px;
}
.nav_link_third {
    padding-right: 40px;
    padding-left: 40px;
}
.nav_link_fourth {
    padding-right: 18px;
    padding-left: 40px;
}
.nav_item_link {
    padding-top: 24px;
    padding-bottom: 18px;
    border-right:solid 1px #FFFFFF;
    transition: 0.5s;
}
.nav_item_link:hover {
    background-color: #222F3A;
}
.aside_menu {
    border: solid 1px #000000;
    width: 344px;

}

.aside_menu_link {
    padding-bottom: 26px;
    padding-top: 26px;
    padding-left: 44px;    
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    transition: 0.5s;
    display: block;

}
.aside_menu_link:hover  {
    padding-left: 55px;
    background-color: #DBDBDB;
    color: #000000;       
}

.main_container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    
}
.info-container {
    width: 885px;
}
.image_box {
    border: solid 1px #000000;
    height: 529px;    
    display: flex;
    justify-content: center;
    align-items: center;
    }
.main_image {
    transition: 0.5s;
}
.main_image:hover {
    transform: scale(1.1);
}
.text_info {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    padding-top: 36px;
}
.footer {
    background-color: rgba(99, 105, 110, 0.48);
    display: flex;
    padding: 20px 40px;
    margin-top: 54px;
    justify-content: space-between;
    margin-bottom: 30px;
}
.footer_menu {
    width: 875px;
    display: flex;
    justify-content: space-between;
}
.footer_menu_link {
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    transition: 0.3s;
}
.footer_menu_link:hover {
    color:#3181A6;
    border-bottom: solid 1px #3181A6;
}
.footer_copyright {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}
