.form-item {
    padding: 20px;
    &.has-validation {
        .form-control {
            border-color: #dc3545;

            &:hover,
            &:focus {
                border-color: #dc3545;
                box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
            }
        }

        .error-message {
            margin-top: 4px;
            text-align: left;
            color: #dc3545;
        }
    }
}
.form-label{
    font-size: 20px;
}
.form-control{
    font-size: 20px;
    padding: 10px;
    min-width: 800px;
    border: 1px solid #e0e0e0;
}
