.button{
    font-size: 16px;
    padding: 20px;
    border-radius: 5px;
    min-width: 190px;
    cursor: pointer;
    box-shadow:none !important;
    
}
._purple{
    color: white;
    background-color: #8A33FD;
    text-transform: uppercase;
}
._white{
    color: #8A33FD;
    background-color: white;
    text-transform: uppercase;
}
