.hero {
    background-image: url('https://www.next.ua/nxtcms/resource/blob/5783316/a0583fddd192830042b76dff61d5ac4d/christmas-animation-desktop-poster-image-data.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-img {
    width: 287px;
    height: 358px;
    border: 1px solid #E5C287;
}
.hero-img-wrapper{
    padding: 80px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.hero-title{
    text-align: center;
    color: #E5C287;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 13px;
    font-size: 38px;
    padding-bottom: 15px;
}
.hero-text{
    margin: 0 auto;
    text-align: center;
    color: #E5C287;
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: 1px;
    font-size: 17px;
    max-width: 850px;
    padding-bottom: 50px;

}