* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    width: 1280px;
    margin: 0 auto;
}
.nav_list {
    list-style-type: none;
    text-align: center;
 }
 .nav_list_item {
    display: inline-block;
 }
.nav-list-link {
    text-decoration: none; 
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}
.nav_list_item {
    padding-left: 72px;  
    padding-top: 26px;
    padding-bottom: 26px;
}
.nav_list > .nav_list_item:last-child {
    padding-left: 50px;
}
.title {
    color: #373737;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 38px;
}
.text_container {
    color: #373737;
    width: 1145px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
}

.started_button {
    display: block;
    margin: 0 auto;
    margin-top: 38px;
    margin-bottom: 82px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    color: #FFFFFF;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    background: #FF0000;
    border-radius: 4px;
    padding: 18px 44px;
    border: none;
    cursor: pointer;
}
.copyright {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: end;
    padding-right: 105px;
    margin-bottom: 30px;
}