body {
    font-family: 'Ubuntu', sans-serif;
}
.conteiner {
    background: url(../img/Фон\ 1\ \(1\).png) no-repeat;
    background-size: cover;
    height: 100vh;
}
.header {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_section {
    padding-left: 80px;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    padding-top: 18px;
    padding-bottom: 18px;
    transition: 0.3s;
}
.logo_section:hover {
    color: #01813F;
}
.header_menu {
    display: flex;
    align-items: center;
    padding-right: 80px;
}
.nav_buttons {
    display: flex;
    column-gap: 25px;
    padding-right: 53px;
}
.welcome_text {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    position: relative;
}
.welcome_text::before {
    content: '';
    position: absolute;
    left: -27px;
    top: -2px;
    width: 1px;
    height: 19px;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
}
.welcome_colored {
    transition: 0.3s;
}
.welcome_colored:hover {
    color: #01813F;
}
.header_icons {
    transition: 0.3s;
}
.header_icons_fill {
    transition: 0.3s;
}
.header_icons:hover {
    stroke: #01813F;

} .header_icons:hover .header_icons_fill {
    fill: #01813F;    
}
.main {
    margin-top: 30px;
    width: 444px;
    height: 584px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 29px;
    background: #3CB878;
}
.sign_up_box {
    padding: 31px 60px 38px 60px;
}
.form_title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}
.sign_up {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.log_in {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    transition: 0.3s;
}
.log_in:hover {
    text-decoration: underline;
    color: #01813F;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.facebook_button {
    background-color: #305DB8;
    display: flex;
    align-items: center;
    column-gap: 38px;
    padding: 12px 20px 12px 16px;
    border-radius: 2px;
    transition: 0.3s;
}
.facebook_button:hover {
    background-color: #022263;;
}
.facebook {
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    position: relative;
}
.facebook::before {
    content: '';
    position: absolute;
    top: -6px;
    left: -18px;
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
}
.google_button {
    background-color: #DF4A32;
    display: flex;
    align-items: center;
    column-gap: 38px;
    padding: 15px 27px 14px 12px;
    border-radius: 2px;
    transition: 0.3s;
}
.google_button:hover {
    background-color: #AB1F09;;
}
.google {
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    position: relative;
}
.google::before {
    content: '';
    position: absolute;
    top: -6px;
    left: -30px;
    width: 1px;
    height: 28px;
    background: #2B0D09;
    opacity: 0.1;
}
.or_box {
    padding-bottom: 12px;
    padding-top: 31px;
    display: flex;
    justify-content: center;
}
.text_or {
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    position: relative;
}
.text_or::before {
    content: '';
    position: absolute;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    top: 8px;
    right: 17px;
}
.text_or::after {
    content: '';
    position: absolute;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    top: 8px;
    left: 17px;
}
.input_box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.input_line {
   
    max-width: 324px;
    width: 100%;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 20px;      
    
}
.input_line:focus {
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    font-size: 14px;
    line-height: 14px;
    color: #434343;


}
::placeholder {
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;  

}
.checkbox_agree {
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    display: block;
    margin-top: 12px;
}
.checkbox_link {
    color: #3CB878;
    transition: 0.3s;
}
.checkbox_link:hover {
    color: #01813F;
    text-decoration: underline;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    transition: 0.3s;
}
.button:hover {
    background: #01813F;
}
.button_text {
    display: block;
    max-width: 324px;
    width: 100%;
    height: 46px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}